/* Farben */
:root {
    --dark: #212529;
    --grey: #343A40;
    --white: #DEE2E6;
    --gradient-primary: #66101F;
    --gradient-secondary: #114B5F;
    --primary: #05668d;
    --secondary: #DE6E4B;
}

.borderWeatherFull {
    border-style: solid;
    border-radius: 20px;
}

.innerBorderWeather {
    border-right: solid;
}

.weatherFont {
    font-size: 30px;
    text-align: center;
}

.weatherFontText {
    text-align: center;
    font-weight: bold;
}

.centerContent {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* Color Theme ------------------------------------------------------------------------------------------- */

.bg-gradient {
    min-height: 100vh;

    /* Fallback */
    background: #66101f;
    /* Gradients */
    background: -webkit-linear-gradient(to top right, var(--gradient-secondary), var(--gradient-primary));
    background: linear-gradient(to top right, var(--gradient-secondary), var(--gradient-primary));
}

.text-theme-white {
    color: var(--white);
}

.bg-theme-grey {
    background-color: var(--grey);
}

.bg-theme-dark {
    background-color: var(--dark);
}